
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif
}


body {
    background: hsl(212, 45%, 89%);
}


#main-card {
    background: #fff;
    width: 250px;
    height: 380px;
    max-width: 90%;
    max-height: 70%;
    position: absolute;
    margin: auto;
    inset: 0;
    border-radius: 12px;
    
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 10px;
    align-items: center;
    padding: 12px 0;
}


#qr-code-img {
    border-radius: 12px;
    width: 220px;
    max-width: 90%;
    max-height: 90%;
    aspect-ratio: 1;
}


#text-container {
    /* border: 2px solid red; */
    padding: 0 15px;
    text-align: center;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px
}

#text-container h2 {
    font-size: clamp(5px, 1rem, 3vw);
}


#text-container p {
    font-size: clamp(5px, 12px, 3vw);
    color: hsl(216, 15%, 48%);
}